<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT_US</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

        <!-- --------------------------------NAVBAR START ------------------------------- -->
  <div class="logo " id="logo" ><h1>BOOKTOGRAPHER</h1></div>
  <div class="navbar h-nav-resp">
      <!-- <h1>BOOKTOGRAPHER</h1> -->
     <div class="heading v-class-resp">
        <a style="text-decoration: none;" href="/"> <h1>BOOKTOGRAPHER</h1></a>
     </div>
     <div class="navbar_elements v-class-resp">
     <div class="navbar_elements_left">
     <div class="home element">
         <a href="/">Home</a>
     </div>
     <div class="genre element">
         <a href="/genre">Explore</a>
     </div>
     <div class="contct element">
         <a href="/contact">Contact</a>
     </div>
     <div class="about element">
        <a href="/about">About us</a>
    </div>
     </div>
     <div class="navbar_elements_right">
         <div class="button">
             <button><a href="/login">Login</a></button>
         </div>
     </div>
     </div>
     
     </div>
     <div class="burger ">
         <div class="line"></div>
         <div class="line"></div>
         <div class="line"></div>
     </div>

     <!-- NAVBAR SECTION END  -->

    
    <div id="head"><p>WE ARE BOOKTOGRAPHER</p></div>
    <br>
    <div id="main"> <p> A group of passionate individuals whose purpose is to bring you the best reading experience by providing you the most relevant material to read. 
        </p>  </div>  
    
    <div id="end">
        <p> WE ARE HERE FOR YOUR LOVE OF READING. HAPPY READING.</p>
    </div>

<!-------------------------------------- Footer Section  --------------------------->
<footer>
    <p>Copyright &copy 2020 - BOOKTOGRAPHER - All Rights Reserved</p>
</footer>
<!-- ----------------------------  -----Footer Section End -------------------------->

<script src="/genre/js/responsive.js"></script>

    </body>
    



</html>