<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CONTACT US</title>
<link rel="stylesheet" type="text/css"  href="contactstyle.css">
<!-- <link rel="stylesheet" href="/genre/CSS_Genre_Page/genre.css"> -->
<!-- <link rel="stylesheet" href="/home/css/style.css"> -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
 integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<!-- --------------------------------NAVBAR START ------------------------------- -->
  <div class="logo " id="logo" ><h1>BOOKTOGRAPHER</h1></div>
     <div class="navbar h-nav-resp">
         <!-- <h1>BOOKTOGRAPHER</h1> -->
        <div class="heading v-class-resp">
          <a style="text-decoration: none;" href="/"> <h1>BOOKTOGRAPHER</h1></a>
        </div>
        <div class="navbar_elements v-class-resp">
        <div class="navbar_elements_left">
        <div class="home element">
            <a href="/">Home</a>
        </div>
        <div class="genre element">
            <a href="/genre">Explore</a>
        </div>
        <div class="contct element">
            <a href="/contact">Contact</a>
        </div>
        <div class="about element">
          <a href="/about">About us</a>
      </div>
        </div>
        <div class="navbar_elements_right">
            <div class="button">
                <button><a href="/login">Login</a></button>
            </div>
        </div>
        </div>
        
        </div>
        <div class="burger ">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <!-- NAVBAR SECTION END  -->

  
  <section class="contact">
    <div class="content">
     <B>
      <h2>GET  IN  TOUCH</h2>
     </B> 
    </div>
    <div class="container">
      <div class="contactInfo">
        <div class="box">
          <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="text">
            <h3>E-MAIL : </h3>
            <P>GUPTA@5412</P>
          </div>
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-mobile" aria-hidden="true"></i>
          </div>
          <div class="text">
            <h3>PHONE NO. : </h3>
            <P>8486624</P>
          </div>
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-telegram" aria-hidden="true"></i>
          </div>
          <div class="text">
            <h3>TELEGRAM : </h3>
            <P>G@5412</P>
          </div>
        </div>
      </div>
      <div class ="contactform">
        <form method="POST" action="/contact">
          <h2>SEND MESSAGE...</h2>
          <div class="inputBox"><BR>
            <label for="FirstName">First Name</label>
            <input type="text" name="FirstName"  placeholder="Your first name.." required="required">
          </div>
          <div class="inputBox">
            <label for="LastName">Last Name</label>
            <input type="text"  name="LastName" placeholder="Your last name.." required="required">
          </div>
          <div class="inputBox">
            <label for="Email">E-mail ID</label>
            <input type="text" name="Email"  placeholder="Your email.." required="required">
          </div>
          <div class="inputBox">
            <label for="Country">Country</label>
            <select id="country" name="Country" >
              <option value="Select"></option>
              <option value="Africa">Africa</option>
              <option value="America">America</option>
              <option value="Australia">Australia</option>
              <option value="Canada">Canada</option>
              <option value="India">India</option>
              <option value="USA">USA</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="inputBox">
           <label for="Message">Message</label>
           <textarea name="Message" placeholder="Write something.." required="required" ></textarea>
          </div>
          <div class="inputBox submitbutton">
           <input type="submit" value="SEND">
           </div>
        </form>
      </div>
    </div>
  </section>
  <!-------------------------------------- Footer Section  --------------------------->
  <footer>
    <p>Copyright &copy 2020 - BOOKTOGRAPHER - All Rights Reserved</p>
</footer>
<!-- ----------------------------  -----Footer Section End -------------------------->

<script src="/genre/js/responsive.js"></script>

</body>
