<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>login/register form</title>
    <link rel="stylesheet" type="text/css" href="style.css">
<body>
    <div class="hero">
        <div class="form-box">
             <div class="button-box">
                 <div id="btn"></div>
                 <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                 <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
               <div class="social-icons">
                   
    <a href="https://www.facebook.com/"><img src="images/facebook.jfif"></a>
    <a href="https://www.instagram.com/accounts/login/"><img src="images/instagram2.jfif"></a>
    <a href="https://twitter.com/login?lang=en"><img src="images/twitter.png"></a>
        </div>
 <form id="login" class="input-group">
 <input type="text" class="input-field" placeholder="User Id" required>
 <input type="text" class="input-field" placeholder="Enter Password" required>
<input type="checkbox" class="check-box"><span>Remember Password</span>
 <button type="submit" class="submit-btn">Log In</button>
 </form>
            
  <form id="register" class="input-group">
 <input type="text" class="input-field" placeholder="User Id" required>
 <input type="email" class="input-field" placeholder="Email Id" required>
 <input type="text" class="input-field" placeholder="Enter Password" required>
 <input type="checkbox" class="check-box"><span>I agree to the TERMS & CONDITIONS</span>
     <button type="submit" class="submit-btn">Register</button>
     </form>
        </div>
        
    </div>
    
    <script>
    
        var x = document.getElementById("login");
         var y = document.getElementById("register");
         var z = document.getElementById("btn");
        
         function login(){
            x.style.left="50px";
            y.style.left="450px";
            z.style.left="0px";
        }
        
        function register(){
            x.style.left="-400px";
            y.style.left="50px";
            z.style.left="110px";
        }
        
        
        
    </script>
</body>    
</head>
</html>