body{
    margin: 0;
    padding: 0;
    background : url(images/image_search_12345.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
    
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff0f5;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    position: relative;
    width: 220px;
    margin: 35px auto;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 32px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 10;
    left: 110px;
    position: absolute;
    width: 110px;
    height: 35px;
    background: linear-gradient(to right,#8a2be2, #ff00ff);
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px ;
    margin: 0 12px;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    
}
.input-field{
    
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#8a2be2, #ff00ff);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    
    margin: 30px 10px 30px 0;
    
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: -400px;
}
#register{
    left: 50px;
}
a:hover{
    background-color:yellow; 
    
}
@media only screen and (max-width: 600px){
    .form-box{
        height: 380px;
        width: 280px;
        padding: 8px;
        position: relative;
    }
    .submit-btn{
    width: 60%;
    padding: 5px 15px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#8a2be2, #ff00ff);
    border: 0;
    outline: none;
    border-radius: 30px;
}
    #btn{
    top: 12;
    left: 110px;
    position: absolute;
    width: 105px;
    height: 30px;
    background: linear-gradient(to right,#8a2be2, #ff00ff);
    border-radius: 30px;
    transition: .5s;
}
    .toggle-btn{
    padding: 8px 0 0 18px;
        height: 25px;
        width: 90px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
        font-size: 13px;
}
    .button-box{
    position: relative;
    width: 210px;
    height: 30px;
    margin: 35px auto;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 20px;
}
    .input-group{
    margin-top: 20px;
    top: 120px;
    position: absolute;
    width: 200px;
    transition: .5s;
    
}
    .social-icons img{
    width: 20px ;
    margin: 0 7px;
    cursor: pointer;
    border-radius: 50%;
}
    .social-icons{
    margin: 20px auto;
    padding-bottom: 30px;
    text-align: center;
}
    .input-field{
    font-size: 12px;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
    span{
    color: #777;
    font-size: 10px;
    bottom: 68px;
    position: absolute;
}
}